<div class="row">
	<div class="span2 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li class="active"><a href="<%= guest_path %>"><i class="icon-chevron-right"></i> search</a></li>
          <li><a href="<%= guest_sold_path %>"><i class="icon-chevron-right"></i> purchased blogs</a></li>
        </ul>
  </div>

  <!-- search stuff -->
  <div class="span10" >
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" style="margin-right: 10px">search</label>
        <input type="text" name="name" placeholder="search for a blog" data-bind="value: searchString, valueUpdate: 'afterkeydown'" >
      </div>
    </form>
  </div>

  <div class="span10" data-bind="foreach: searchedBlogs">
    <div class="span4">
      <h2 data-bind="text: blog.name"></h2>
      <h4 data-bind="text: blog.description"></h4>
      <a data-bind="href: blog.url, text: blog.url"></a>
      <p data-bind="text: formatDate(date)"></p>
      <a data-bind="click: $parent.purchaseSpot" href="#">purchase</a>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){

    var viewModel = {
      searchString: ko.observable(),
      searchedBlogs: ko.observableArray(),
      purchaseSpot: function(data, event){
        alert("the guest goes through the process of purchasing the blog (confirm dialog, paypal screen, confirmation from paypal)");

        var soldData = { blog_id: data.blog_id };
        $.ajax({
          url: "<%= guest_updatestatus_path %>",
          type: "PUT",
          data: soldData, 
          success: searchBlogs
        });
      }
    };

    var searchBlogs = function(searchData){
      $.ajax({
        url: "<%= blog_search_path %>",
        data: searchData, 
        success: function(data){
          viewModel.searchedBlogs.removeAll();

          for(var i = 0; i < data.length; i++){
            viewModel.searchedBlogs.push(data[i]);
          }
        }
      });
    };

    var actualSearch = function(event){
      searchBlogs({ searchTerms: viewModel.searchString });
    };

    viewModel.searchString.subscribe(actualSearch);
    
    searchBlogs(null);

    ko.applyBindings(viewModel);
  });
</script>