	<!-- Example row of columns -->
	<div class="row">
		<div class="span5 offset1">
			<h2>Guest Poster <span><img src="/assets/blogger.png" /></span></h2>
			<p>Get access to the largest selection of high-quality blogs. All our blog owners are manually approved in order to guarantee the quality of our network.  </p>
			<ul>
				<li>Real Blogs, Real Audience</li>
				<li>High-Quality Blogs</li>
				<li>Fast Solution to Guest Posting</li>
				<li>Great SEO Benefits</li>
			</ul>
		</div>

		<div class="span5 ">
			<h2>Blog Owner <span><img src="/assets/owner.png" /></span></h2>
			<p>Start receiving high quality content to your blog and get paid for it. Our platform will make sure that your blog is matched to the right clients. </p>
			<ul>
				<li>Larget Paid Guest Posting Network</li>
				<li>Top Paying Customer</li>
				<li>Free High-Quality Content</li>
				<li>100% Confidential</li>
			</ul>
		</div>
	</div>
	<hr>