/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	padding-top: 10px;
	padding-bottom: 0px;
	background: url(/assets/bg-darkblue.png) repeat-x;
}

li {
	line-height:20px;
	font-size:15px;
	background: url(/assets/check.png) no-repeat 0 5px;
	padding:5px 0 5px 26px;
	list-style:none;
}

form {
  margin:0 0 0;
}

#thanks {
	
	color: #fff;
	font-weight: 500;
	text-align: center;
	text-shadow: -1px 1px 2px #000;
}

#radial-center {
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, circle closest-corner, #999999 -100%, #00223D 30%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, circle closest-corner, #999999 -100%, #00223D 30%);

/* Opera */ 
background-image: -o-radial-gradient(center, circle closest-corner, #999999 -100%, #00223D 30%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(-1, #999999), color-stop(0.3, #00223D));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, circle closest-corner, #999999 -100%, #00223D 30%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle closest-corner at center, #999999 -100%, #00223D 30%);
}

#logo {
margin-left: auto;
width: 1170px;
margin-right: auto;
padding-left: 30px;
}

#row {
margin-left: auto;
width: 1170px;
margin-right: auto;
}

#headline-form{
		float:left;
		width:100%;
		margin: -10px 9px 10px 0px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding:0 0 5px 0;
	}

#signupform{
	 background-color: #BD362F;
	 overflow:hidden;
	 margin-left: 100px;
	 padding: 15px 20px;
	-moz-box-shadow: 0 0 5px #333333;
	-webkit-box-shadow: 0 0 5px#333333;
	box-shadow: 0 0 5px #333333;
	border:0px solid;
	border-radius:5px;
	-moz-border-radius:5px;
}	

a.logo {
    background: url(/assets/guestt-logo.png) 0 0 no-repeat;
	background-position: center;
    width: 242px;
    height: 70px;
    display: block;
    text-indent: -1111em;
    margin: 0 0 7px 0;  
}
/* End of custom changes */

.container.title h1{
	font-size: 65px;
font-weight: bold;
margin-bottom: 25px;
}

.hero-unit.header{
	background: url(/assets/grid-cut.png) repeat-x;
	color: white;
	font-weight: normal;
	text-align: center;
	padding-top: 17px;
	padding-bottom: 1px;
	border-radius: 0;
}
.hero-unit.header h2{
	width: 400px;
font-weight: normal;
margin: 0 auto;
}

.hero-unit.header h3{
	font-weight: normal;
font-size: 19px;
line-height: 26px;
padding: 0 11%;
color: #CCC;
margin-top: 20px;

}

.container h2{
	color:#CD2626;
	font-weight: normal;
	font-size: 36px;
	position: relative;
	margin-top: 20px;
}

.span5 h2 span{
	width: 188px;	
	height: 121px;
	background: red;
	position: absolute;
	bottom:0;
	right:0;
	background: url(/assets/grid.png) no-repeat 0 -230px;
}
.span5+.span5 h2 span{
	width: 103px;	
	background-position: -187px -230px
}
.titleJoin{
	color: #AAA;
text-align: center;
font-size: 19px;
font-style: italic;
font-weight: normal;
}