<div class="row">
	<div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="<%= blogowner_new_path %>"><i class="icon-chevron-right"></i> new blog</a></li>
          <li class="active"><a href="<%= blogowner_path %>"><i class="icon-chevron-right"></i> purchased blogs</a></li>
        </ul>
  	</div>
  	<div class="span10">
  	</div>
</div>