<div class="row">
	<div class="span2 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li class="active"><a href="<%= blogowner_new_path %>"><i class="icon-chevron-right"></i> new blog</a></li>
          <li><a href="<%= blogowner_path %>"><i class="icon-chevron-right"></i> blogs</a></li>
        </ul>
  	</div>

  	<div class="span10">
  		<%= form_tag blogowner_create_path, :method => :post, :class => "form-horizontal" do %>
			<fieldset>
				<legend>new blog</legend>
				
				<div class="control-group">
					<label class="control-label">blog name</label>
					<div class="controls">
						<input type="text" required="required" name="name" placeholder="please enter the blog's name" >
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">blog description</label>
					<div class="controls">
						<input type="text" required="required" name="description" placeholder="please enter a description" >
					</div>
				</div>

				<div class="control-group">
					<label class="control-label">blog url</label>
					<div class="controls">
						<input type="text" required="required" name="url" placeholder="please enter the blog's url" >
					</div>
				</div>

				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn">submit</button>
					</div>
				</div>
			</fieldset>
		<% end %>
	</div>
</div>