<div class="row">
	<div class="span2 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="<%= blogowner_new_path %>"><i class="icon-chevron-right"></i> new blog</a></li>
          <li><a href="<%= blogowner_approved_path %>"><i class="icon-chevron-right"></i> approved blogs</a></li>
          <li><a href="<%= blogowner_pending_path %>"><i class="icon-chevron-right"></i> pending blogs</a></li>
          <li class="active"><a href="<%= blogowner_rejected_path %>"><i class="icon-chevron-right"></i> rejected blogs</a></li>
        </ul>
  	</div>

  	<div class="span10">
				<h2>The #1 Guest Blog Posting Marketplace on the Web</h2>
				<h3>The place where blog owners and guest posters meet to distribute top quality content throughout the biggest network of bloggers on the web</h3>
	</div>
</div>